<!DOCTYPE HTML>
<html>
	<head>
		<title>Bruce Campbell - An American Hero</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../public/styles.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Bruce Campbell</h1>
					<p>An American Hero</a></p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Who is Bruce?</h2>
						<p>Bruce Lorne Campbell (born June 22, 1958) is an American actor, producer, writer, comedian and director. One of his best-known roles is portraying Ash Williams in Sam Raimi's Evil Dead franchise, beginning with the 1978 short film Within the Woods.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Learn More</a></li>
						</ul>
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="../public/images/bruce-01.jpg" alt="" /></a>
								<h3>Evil Dead (2013)</h3>
							</header>
							<p>Five friends head to a remote cabin, where the discovery of a Book of the Dead leads them to unwittingly summon up demons living in the nearby woods.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="../public/images/bruce-02.jpg" alt="" /></a>
								<h3>Army of Darkness</h3>
							</header>
							<p>A man is accidentally transported to 1300 A.D., where he must battle an army of the dead and retrieve the Necronomicon so he can return home.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="../public/images/bruce-03.jpg" alt="" /></a>
								<h3>Ash vs Evil Dead - Season 1</h3>
							</header>
							<p>Ash has spent the last thirty years avoiding responsibility, maturity, and the terrors of the Evil Dead until a Deadite plague threatens to destroy all of mankind and Ash becomes mankind's only hope.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="../public/images/bruce-04.jpg" alt="" /></a>
								<h3>Ash vs Evil Dead - Season 2</h3>
							</header>
							<p>Pablo and Ash help Kelly who is worried about a strange call from her father and the sudden return of her lost mother, (Mimi Rogers), who was feared dead months ago. Ash remains suspicious of the mother, believing she's a Deadite impostor. </p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Want to Know More?</h2>
						<p>Check out our gallery of curated images!</p>
						<ul class="actions">
							<li><a href="#" class="button big">Browse the Gallery</a></li>
						</ul>
					</section>

				<!-- Main -->
				
					<!-- <section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				 -->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../public/jquery.min.js"></script>
			<script src="../public/skel.min.js"></script>
			<script src="../public/util.js"></script>
			<script src="../public/scripts.js"></script>

	</body>
</html>